{% include 'includes/header.twig' %}

{% block content %}
<!-- Main Content Area -->
<div class="flex">
  <!-- Main Content -->
  <main class="flex-1 bg-gray-900 p-6">
      <!-- ... rest of your main content goes here ... -->
  </main>
</div>
{% endblock %}

{% include 'includes/footer.twig' %}
